:root {
  --main-color: #00ffea;
  --primary-color: #ffa500;
  --secondary-color: #50C878;
  --accent-color: #dc143c;
  --text-color-2: #4E3524;
  --text-color: #50C878;
  --bg-color-2: rgba(255, 255, 255, 0.13);
  --bg-color: # #36454F;;
  --hover-color: #FF6F00;
  --links-color: #FFB300;

}

body, html {
    height: 100%; /* Sets the height of the body to the height of the viewport */
    margin: 0; /* Sets the margin of the body to 0 */
}
body{
    min-height: 100vh; /* Sets the minimum height of the body to the height of the viewport */
}
nav {
    color: var(--text-color);
}
nav li:hover {
    background-color: var(--hover-color);
}
/* Base styles for the containers */
.container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line on smaller screens */
  }
  
  .social-media, .schedule {
    flex-basis: 50%; /* Initially sets each container to take up 50% of the parent container's width */
    flex-grow: 1; /* Allows each container to grow if necessary, useful for filling the parent container */
  }
  map { /* Sets the width and heightof the map container to 100% of its parent container */
    width: 100%; 
    height: 100%;
}
  .card {
    width: 100%;
    background: var(--bg-color);
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    padding: 1rem;
    margin-bottom: 2rem;
    z-index: 1;

  }
  .card-img-top {
    object-fit: cover;
    width: 100%;
  }
  .card-title, .card-text, .text-muted {
    color: var(--text-color)

  }

  .form-container {
    height: 520px;
    width: 400px;
    background-color: var(--bg-color-2);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    border-color: var(--primary-color);
  }
  label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  } 
  input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: var(--bg-color-2);
    border-radius: 9px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-color: var(--links-color);
  }
 
  /* Mobile styles */
  @media (max-width: 768px) { /* Adjusts the layout for screens smaller than 769px */
    .social-media, .schedule {
      flex-basis: 100%; /* Each container takes up 100% width on smaller screens */
    }
    .form-control {
      width: 100%;
    }
    
  }