:root {
  --main-color: #ffa500;
  --text-color: #b9d4a2;
  --text-color-2: #ffa500;
  --bg-color: #000000;
  --bg-color-2: #000000;
  --primary-color: #ffa500;
  --secondary-color: #ffa500;
  --accent-color: #ffa500;
  --link-color: #ffa500;
  --link-hover-color: #ffa500;

}

body, html {
    height: 100%;
    margin: 0;
}
body{
    min-height: 100vh;
}
map {
    width: 50%;
    height: 50%;
}

/* Base styles for the containers */
.container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line on smaller screens */
  }
  
  .social-media, .schedule {
    flex-basis: 50%; /* Initially sets each container to take up 50% of the parent container's width */
    flex-grow: 1; /* Allows each container to grow if necessary, useful for filling the parent container */
  }
  .card {
    width: 100%;
    background: var(--bg-color);
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    padding: 1rem;
    margin-bottom: 2rem;
    z-index: 1;

  }
  .card-img-top {
    object-fit: cover;
    width: 100%;
  }
  .card-title, .card-text, .text-muted {
    color: var(--text-color)

  }

  /* Mobile styles */
  @media (max-width: 768px) { /* Adjusts the layout for screens smaller than 769px */
    .social-media, .schedule {
      flex-basis: 100%; /* Each container takes up 100% width on smaller screens */
    }
    
  }