<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<div class="container justify-content-center">
  <div class="social_media">
    <section class="mr-4 p-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>
      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-google"></i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-instagram"></i>
      </a>
      <!-- TikTok -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-tiktok"></i>
      </a>
    </section>
  </div>
  <div class="schedule">
    <h5 class="text-uppercase mb-0">Horario</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Jueves</th>
          <th scope="col">Viernes</th>
          <th scope="col">Sabado</th>
          <th scope="col">Domingo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12:00 AM - 10:00 PM</td>
          <td>12:00 AM - 11:00 PM</td>
          <td>12:00 AM - 11:00 PM</td>
          <td>12:00 AM - 10:00 PM</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid text-center">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2024 Copyright:
    <a class="text-body" href="#">shwi</a>
  </div>
  <!-- Copyright -->
</div>
